name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  sentinel-fmt-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.5
      - name: Install Sentinel
        uses: hashicorp/setup-sentinel@main
        id: setup
        with:
          version: ${{ inputs.sentinel-version }}
      - name: Sentinel Format
        run: |
          sentinel fmt -check=true $(find . -name "*.sentinel" -type f)
      - name: Sentinel test
        run: |
          sentinel test -verbose $(find . -name "*.sentinel" -type f ! -path "*/mocks/*" ! -path "*/example/*" ! -path "*/modules/*")